
@mixin box-values($height, $width, $background, $margin, $padding) {
  height: $height;
  width: $width;
  background: $background;
  margin: $margin;
  padding: $padding;
}

@mixin margin-padding($margin, $padding) {
  display: inline;
  margin: $margin;
  padding: $padding;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  @include box-values(5px, 100%, #FFF, 0px 50px 10px 0, 10px);
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
ul {
  @include margin-padding(10px 250px 10px 0, 0);
  li {
    @include margin-padding(10px 0 10px 0, 15px);
  }
}
.nav ul :hover {
  background: #E6E6E6;
  width: 100%;
}
.body-content {
  @include box-values(750px, 1500px, #563d7c, 0, 0);
  text-align: center;
}
.upper-body {
  padding: 100px 0 0 0;
}
footer {
  height: 55px;
  width: 1400px;
  text-align: center;
}
a:link{
  text-decoration: none;
}
p {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.box-logo {
  width: 144px;
  height: 144px;
  font-size: 108px;
  line-height: 140px;
  color: #FFF;
  border: 1px solid #FFFFFF;
  border-radius: 15%;
  display: block;
  margin:0 auto;
}
.description-logo {
  width: 80%;
  font-size: 30px;
  color: #FFF;
}
.download-link {
  width: 15%;
  font-size: 20px;
  color : white;
  line-height: 14px;
  border: 1px solid #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  display: block;
  margin:10px auto;
  padding: 15px 30px;
  &:hover {
    color: #563d7c;
    background: #fff;
  }
}

